/* style login module */
.glass{
    background : linear-gradient(315deg,rgba(224, 224, 224,.4),rgba(255, 255, 255,.6));
    box-shadow : 0 0 24px -1px rgb(53 101 224 / 25%);
    width: 70%;
    min-height: 70%;
    overflow: hidden;
    backdrop-filter: blur(120px);
    margin: 80px auto;
    border-radius: 35px;
}
.ska-box{
    border-radius: 30px;
    background: linear-gradient(125deg, #a4ffdf,#bdfae5);
    box-shadow: 0 3px 15px rgba(98, 99, 98, 0.205);
}

/* contact us page */
.contact-bg{
    height: 50vh;
    background: linear-gradient( 10deg,rgba(30, 255, 10, 0.055),rgba(134, 243, 112, 0.514)), url(./components/img/contact.png), no-repeat, 30%, 50%;
    background-size: cover;
}
.course-enquiry{
    margin-top: -10vh;
}
@media only screen and (max-width: 950px) {
    .contact-bg {
        height: 30vh;
    }
    .course-enquiry{
        margin-top: -5vh;
    }
  }
@media only screen and (max-width: 700px) {
    .contact-bg {
        height: 20vh;
    }
    .course-enquiry{
        margin-top: -3vh;
    }
  }

.social_media a{
    transition: .3s;
}
.social_media a.fb{ color:#fff; background:#1964DA; border-radius: 7px;}
.social_media a.twtr{color: #fff; background:#3ABDD1; border-radius:7px;}
.social_media a.insta{ 
    color:#fff;
     background:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
     border-radius: 7px;}
.social_media a.yt{ color:#fff; background:#f00; border-radius: 7px;}

.social_media a.fb:hover{ color:#1964DA; background:#fff; border-radius: 7px;}
.social_media a.twtr:hover{ color: #3ABDD1; background:#fff; border-radius:7px;}
.social_media a.insta:hover{ 
    color:#bc1888; 
    background:#fff;
    border-radius: 7px;}
.social_media a.yt:hover{ color:#f00; background:#fff; border-radius: 7px;}




/* over write on bootstrap */
a {
    color: #198754;
}
a:hover{
    color: #115736;
}
.btn-ska-primary-dark{
    background: linear-gradient(125deg, #068047e1,#058f4ee1, #4ab382de);
    color: #fff;
}
.btn-ska-primary-dark:hover,
.btn-outline-ska-primary-dark:hover{
    background: linear-gradient(125deg, #01522ce1,#20975fe1);
    color: #fff;
}
.form-check-input:checked{
    background-color: #198754;
    border-color:#115736;
} 