a {
    color: #198754;
}
a:hover{
    color: #115736;
}
.btn-success{
    background: linear-gradient(125deg, #068047e1,#13804de1, #4ab382de);
    color: #fff;
}
.btn-outline-success:hover{
    background: linear-gradient(125deg, #166d44e1, #4ab382de);
    color: #fff;
}
.form-check-input:checked{
    background-color: #198754;
    border-color:#115736;
}